.popup__close-button {
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url('../../../images/close-button.svg');
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: opacity .2s linear;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
   }
}
