.popup__submit-button {
  background-color: #000;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 19px;
  padding: 0;
  border: 0;
  transition: opacity .2s linear;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 550px) {
  .popup__submit-button {
    min-height: 46px;
    font-size: 14px;
    margin-top: 15px;
  }
}
