.elements {
  max-width: calc(100% - 200px * 2);
  margin: 0 auto;
  min-height: 45vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
}

@media screen and (max-width: 1279px) {
  .elements {
    max-width: calc(100% - 70px * 2);
  }
}

@media screen and (max-width: 850px) {
  .elements {
    max-width: calc(100% - 40px * 2);
  }
}

@media screen and (max-width: 500px) {
  .elements {
    max-width: calc(100% - 19px * 2);
  }
}
