.element__like-button {
  background-image: url('../../../images/like.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: opacity .2s linear;
}

.element__like-button:hover {
  opacity: .5;
  transition: opacity .2s linear;
}

.element__like-button:active {
  background-color: #000;
}